.button {
  display: inline-block;
  padding: 10px 15px;
  border: 0px;
  border-radius: 5px;
  background-size: 200%;
  background-position: 0%;
  background-color: #0e3178;
  transition: 0.4s;
  color: #ffffff;
  font: inherit;
  font-weight: 350;
  font-size: medium;
  cursor: pointer;
  width: fit-content;
  margin-top: 40px;
}

.button:hover,
.button:active {
  background-color: #416dc6;
  transform: scale(1.03);
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
