@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css");
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #eeeeee;
    --font-color: #000;
    --gray-light-1: #e9e6e6;
    --gray-light-2: #e3e3e3;
    --gray-light-3: #dfdfdf;
    --gray-light-4: #ebebeb;
    --gray-dark-1: #c4c4c4;
    --gray-dark-2: #acacac;
    --modal-background: #e0e0e0;
    --primary-color: #0e3178;
    --glance-box-width: 49%;
    --tthome-box-width: calc((97%) / 3);
    --news-box-width: calc((97%) / 3);
    --color-pink: #ff7f7f;
    --color-green: #6edf64;
    --color-orange: #ff8a00;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #eee;
    --font-color: #000;
    --gray-light-1: #505050;
    --gray-light-2: #404040;
    --gray-light-3: #494949;
    --gray-light-4: #3b3b3b;
    --gray-dark-1: #353535;
    --gray-dark-2: #2c2c2c;
    --modal-background: #3b3b3b;
    --primary-color: #0e3178;
    --header-font-color: #fff;
    --glance-box-width: 49%;
    --tthome-box-width: calc((97%) / 3);
    --news-box-width: calc((97%) / 3);
    --color-pink: #ff7f7f;
    --color-green: #6edf64;
    --color-orange: #ff8a00;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: var(--background-color);
  min-height: 100vh;
  font-family: "Poppins", "IBM Plex Sans Thai", sans-serif;
  color: var(--font-color);
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

.header {
  background-color: var(--primary-color);
  color: var(--header-font-color);
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo img {
  height: 7rem;
  width: auto;
}
.header__user {
  display: flex;
  align-items: center;
  margin-right: 2.2rem;
}
.header__user--text {
  text-align: right;
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
}
.header__user--profile img {
  margin-left: 1rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 0.3rem solid var(--header-font-color);
  object-fit: cover;
}

.footer {
  background-color: #cbcbcb;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
}
.footer__text {
  flex-direction: row;
  width: 100%;
  position: relative;
  font-size: 1.3rem;
  font-weight: 400;
}
.footer__text--copyright {
  text-align: left;
  display: inline;
  margin-left: 15px;
}
.footer__text--credit {
  text-align: right;
  display: inline;
  margin-right: 15px;
  right: 0;
  position: absolute;
}
.footer__text--credit--developers:visited {
  color: #000000;
}

.box {
  background-color: #D4D4D4;
  padding-left: 20px;
  width: 15%;
  height: 30%;
  border-radius: 11px;
  display: inline-block;
  margin-left: 5px;
}

.weekday {
  background-color: var(--color-pink);
  width: 13%;
  height: 40px;
  border-radius: 11px;
  color: var(--font-color);
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 10px;
}

.DayoftheWeek {
  position: relative;
  top: 25%;
  left: 35%;
}

.__timetable {
  display: flex;
  flex-direction: column;
}
.__timetable--row {
  display: flex;
  flex-direction: row;
}

.lunch {
  background-color: black;
}

.glance-item {
  border-radius: 1.1rem;
  width: 98.5%;
}
.glance-item h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  margin: 0;
  padding: 0.5rem 0;
  color: #fff;
  margin-left: 30px;
  line-height: 110%;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.glance-item__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  width: 15rem;
  height: 3rem;
  border-radius: 7px;
  border: none !important;
  transition: all 0.2s ease-in-out;
  margin-left: 30px;
  margin-bottom: 20px;
}
.glance-item__btn:hover {
  transform: scale(1.03);
}
.glance-item__btn:active {
  transform: scale(0.9);
}

.glance-bigbox {
  background-color: rgb(219, 219, 219);
  height: fit-content;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.2rem;
  place-items: center;
}
@media only screen and (max-width: 56.25em) {
  .glance-bigbox {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

.settings-bigbox {
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 11px;
  width: 96%;
}
.settings-bigbox__header {
  size: 1rem;
}
.settings-bigbox__body {
  background-color: #e4e4e4;
  border-radius: 11px;
  height: 55rem;
}
.settings-bigbox__body--signout {
  border: 2px solid red;
  width: 35%;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: 10px;
}
.settings-bigbox__body--signout--button {
  background: none;
  color: red;
  border: none;
  padding: 0;
  margin-left: 40%;
  height: fit-content;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  outline: inherit;
}
.settings-bigbox__body--newBox {
  background-color: darkblue;
  margin-left: 3rem;
  width: 35%;
  height: 2.7rem;
}
.settings-bigbox__body--newBox--button {
  background: none;
  color: white;
  border: none;
  padding: 0;
  text-align: center;
  height: fit-content;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  outline: inherit;
}
.settings-bigbox__body--stuff {
  display: inline-block;
}
.settings-bigbox__body--stuff--image {
  width: 15rem;
  margin-left: 3rem;
  margin-top: 4rem;
}
.settings-bigbox__body--stuff--name {
  margin-left: 5rem;
  font-size: xx-large;
  position: absolute;
  margin-top: 9.5rem;
  display: inline-block;
}
.settings-bigbox__body--label {
  color: darkblue;
  margin-bottom: -1rem;
  margin-top: 3rem;
  font-size: medium;
  margin-left: 3rem;
}
.settings-bigbox__body--box {
  background-color: lightgray;
  margin-left: 3rem;
  width: 35%;
  border-radius: 3px;
}
.settings-bigbox__body--box--label {
  border-radius: 2px;
  font-size: large;
  width: fit-content;
  text-align: start;
  margin-top: 1rem;
  font-weight: normal;
}
.settings-bigbox__body--box2 {
  background-color: lightgray;
  margin-left: 3rem;
  width: 35%;
  border-radius: 3px;
}
.settings-bigbox__body--box2--label2 {
  border-radius: 2px;
  font-size: large;
  width: fit-content;
  text-align: start;
  margin-top: 1rem;
  font-weight: normal;
}
.settings-bigbox__body--passswordLabel {
  margin-bottom: 0.1rem;
  margin-top: 3rem;
  color: darkblue;
  margin-left: 3rem;
}

.timetable-preview {
  background-color: rgb(213, 213, 213);
  height: fit-content;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.2rem;
  place-items: center;
  margin-bottom: 38.5px;
}
@media only screen and (max-width: 56.25em) {
  .timetable-preview {
    grid-template-columns: 1fr;
    width: 100%;
    grid-gap: 0.2rem;
  }
}
.timetable-preview__item {
  border: none !important;
  background-color: var(--primary-color);
  width: 37rem !important;
  height: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.1rem;
  transition: all 0.2s ease-in-out;
  height: 100px;
}
.timetable-preview__item:hover {
  transform: scale(1.03);
}
.timetable-preview__item:active {
  transform: scale(0.9);
}
.timetable-preview__item h3 {
  text-decoration: none;
  color: white;
  text-align: center;
}

.home {
  margin: 0 2%;
  margin-top: 2.5rem;
  font-family: Poppins;
}
.home__time {
  position: absolute;
  right: 0;
  margin-right: 3rem;
  display: inline;
  text-align: right;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, rgb(29, 85, 192) 0%, rgb(29, 85, 192) 20%, rgb(14, 49, 120) 55%, rgb(14, 49, 120) 100%);
  animation: AnimateBG 17s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.setting {
  margin: 0 3rem;
  margin-top: 2.5rem;
  font-family: Poppins;
}

/*# sourceMappingURL=main.css.map */
