.glance {
    background-color: #000;

    &__text {
      background-color: aquamarine;
    }

    &__heading {
        font-family: 'Poppins', sans-serif;
    }

    &__container {
        display: flex;
        flex-direction: row;
    }
}